@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Sans+KR:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
html {
  font-size: 1px;
  height: 100%;
}
html body {
  font-size: 16rem;
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}
html body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body section {
  max-width: 1136rem;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

span {
  font-size: inherit;
  color: inherit;
}

button {
  border: none;
  box-sizing: border-box;
  background: transparent;
}

@font-face {
  font-family: "Jal_Onuel";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #fff !important;
}

html body {
  height: 150vh;
  font-family: "Pretendard-Regular", "Roboto", sans-serif;
}

.content-full {
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 767px) {
  .content-full {
    padding: 0 16rem;
  }
}
@media (min-width: 768px) {
  .content-full {
    padding: 0 40rem;
  }
}
@media (min-width: 1024px) {
  .content-full {
    padding: 0 60rem;
  }
}
@media (min-width: 1256px) {
  .content-full {
    max-width: 1256rem;
    padding: 0 60rem;
  }
}
input {
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}
input::-moz-placeholder {
  color: #dadde0;
}
input::placeholder {
  color: #dadde0;
}

.primary {
  color: #35c5f0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h-z .item .img-box img {
  display: block;
  transition: 0.5s;
  height: 100%;
}
.h-z .item:hover .img-box img {
  transform: scale(1.05);
  transition: 0.5s;
}

.img-box {
  position: relative;
}

.btn-bookmark {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 36rem;
  height: 36rem;
  z-index: 2;
  cursor: pointer;
}
.btn-bookmark svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-bookmark .bookmark {
  display: block;
}
.btn-bookmark .bookmark-active {
  display: none;
}
.btn-bookmark.active .bookmark {
  display: none;
}
.btn-bookmark.active .bookmark-active {
  display: block;
}

.default-swiper {
  position: relative;
}
.default-swiper .swiper-button-next,
.default-swiper .swiper-button-prev {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);
  transition: 0.5s;
}
.default-swiper .swiper-button-next::after,
.default-swiper .swiper-button-prev::after {
  color: #222;
  font-size: calc(var(--swiper-navigation-size) - 25px);
  font-weight: bold;
}
.default-swiper .swiper-button-next.swiper-button-hidden,
.default-swiper .swiper-button-prev.swiper-button-hidden {
  transition: 0.5s;
}
.default-swiper .swiper-button-next {
  right: var(--swiper-navigation-sides-offset, -24px);
}
.default-swiper .swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, -24px);
}
.default-swiper .swiper-button-next.swiper-button-disabled,
.default-swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.m-show {
  display: none;
}

.top-fix-bar {
  position: relative;
  width: 100%;
  height: 50rem;
  background: #00bbff;
  transition: 0.5s;
}
.top-fix-bar a {
  width: 100%;
}
.top-fix-bar a img {
  display: block;
  margin: 0 auto;
  width: 384rem;
}
.top-fix-bar .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50rem;
  color: #fff;
  cursor: pointer;
}

#header {
  position: sticky;
  top: 0;
  transition: 0.5s;
  z-index: 999;
}
#header .header-inner {
  position: relative;
  width: 100%;
  height: 80rem;
  background: #fff;
  border-bottom: 1px solid #eaedef;
  z-index: 99;
}
#header .header-inner .header-menu {
  flex: 1;
  display: flex;
  gap: 10rem;
  margin-left: 20rem;
}
#header .header-inner .header-menu a {
  padding: 15rem 5rem;
  font-size: 18rem;
  font-weight: bold;
  white-space: nowrap;
}
#header .header-inner .right {
  gap: 10rem;
}
#header .header-inner .header-search {
  display: flex;
  align-items: center;
  border: 1px solid #dadde0;
  border-radius: 4rem;
  height: 40rem;
  padding: 0 14rem;
}
#header .header-inner .header-search.focus {
  border-color: #35c5f0;
}
#header .header-inner .header-search:hover {
  background: #f7f7f7;
}
#header .header-inner .header-search .icon-search {
  padding-right: 6px;
  color: #828c94;
}
#header .header-inner .util {
  display: flex;
}
#header .header-inner .util a {
  position: relative;
  font-size: 14rem;
  padding: 0 10rem;
}
#header .header-inner .util a + a::before {
  content: "";
  position: absolute;
  top: 2rem;
  left: 0;
  width: 1px;
  height: 16rem;
  background: #eaedef;
}
#header .header-inner .btn-wrap {
  gap: 10rem;
}
#header .header-inner .btn-wrap .btn-cart {
  padding: 6rem;
  margin-left: 10rem;
}
#header .header-inner .btn-wrap .btn-cart svg {
  color: #2f3438;
}
#header .header-inner .btn-wrap .btn-cart svg:hover {
  color: #35c5f0;
}
#header .header-inner .btn-wrap .btn-write {
  height: 40rem;
  border-radius: 4rem;
  padding: 0 16rem;
  color: #ffffff;
  background-color: #35c5f0;
  cursor: pointer;
}
#header .header-inner .btn-wrap .btn-write:hover {
  background: #009fce;
}
#header .navi-bar {
  position: relative;
  top: 0;
  width: 100%;
  height: 50rem;
  border-bottom: 1px solid #eaedef;
  background-color: #fff;
  transition: 0.5s;
  z-index: 98;
}
#header .navi-bar.hidden {
  top: -50rem;
  transition: 0.5s;
}
#header .navi-bar nav {
  display: flex;
  align-items: stretch;
  gap: 5rem;
  overflow-x: auto;
  margin-right: 10rem;
}
#header .navi-bar nav a {
  padding: 0 6rem;
  line-height: 48rem;
  text-align: center;
  font-size: 16rem;
  font-weight: 500;
  color: #2f3438;
  white-space: nowrap;
}
#header .navi-bar nav a.active-tab {
  font-weight: bold;
  color: #35c5f0;
  border-bottom: 2px solid #35c5f0;
}
#header .navi-bar nav a:hover {
  color: #35c5f0;
}
#header .navi-bar nav .nav-tag {
  color: #fff;
  background: #828494;
  margin-left: 3rem;
  padding: 2rem 4rem;
  font-size: 10rem;
  border-radius: 3rem;
  vertical-align: bottom;
}
#header .navi-bar .keyword-wrap {
  position: relative;
}
#header .navi-bar .keyword-wrap button {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#header .navi-bar .keyword-wrap .keyword-box {
  position: relative;
  width: 192rem;
  height: 30rem;
  overflow: hidden;
  cursor: pointer;
}
#header .navi-bar .keyword-wrap .keyword-box button {
  margin-left: auto;
  background: url("../images/ohouse/fi-rs-angle-down.png") no-repeat center;
  background-size: 15rem;
}
#header .navi-bar .keyword-wrap .keyword-box p {
  position: absolute;
  left: 0;
  top: 30rem;
}
#header .navi-bar .keyword-wrap p {
  display: flex;
  align-items: center;
  width: 162rem;
  height: 30rem;
  gap: 10rem;
  background: #fff;
}
#header .navi-bar .keyword-wrap p span.num {
  width: 20rem;
  text-align: center;
  font-size: 16rem;
  font-weight: bold;
}
#header .navi-bar .keyword-wrap p span.status {
  font-size: 9rem;
  font-weight: bold;
}
#header .navi-bar .keyword-wrap p span.status.new {
  width: 20rem;
  text-align: center;
}
#header .navi-bar .keyword-wrap p span.status.new::after {
  content: "new";
  display: block;
  color: rgb(250, 20, 51);
}
#header .navi-bar .keyword-wrap p span.status.up {
  width: 0;
  height: 0;
  margin: 0 6rem;
  border-style: solid;
  border-color: rgb(250, 20, 51) transparent;
  border-width: 0 4rem 5rem 4rem;
}
#header .navi-bar .keyword-wrap p span.status.down {
  width: 0;
  height: 0;
  margin: 0 6rem;
  border-style: solid;
  border-color: rgb(20, 24, 250) transparent;
  border-width: 5rem 4rem 0 4rem;
}
#header .navi-bar .keyword-wrap p span.name {
  width: 100rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#header .navi-bar .keyword-wrap .keyword-popup {
  position: absolute;
  right: -20rem;
  top: 0;
  width: 270rem;
  background: #fff;
  padding: 20rem 0;
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  z-index: 100;
  overflow: hidden;
  transition: 0.5s;
}
#header .navi-bar .keyword-wrap .keyword-popup.closed {
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
}
#header .navi-bar .keyword-wrap .keyword-popup .title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
  padding: 0 20rem;
}
#header .navi-bar .keyword-wrap .keyword-popup .title-box h3 {
  font-size: 18rem;
}
#header .navi-bar .keyword-wrap .keyword-popup .title-box button {
  background: url("../images/ohouse/fi-rs-angle-up.png") no-repeat center;
  background-size: 15rem;
}
#header .navi-bar .keyword-wrap .keyword-popup p {
  width: 100%;
  height: 40rem;
  padding: 0 20rem;
  cursor: pointer;
}
#header .navi-bar .keyword-wrap .keyword-popup p:hover {
  background: #f7f7f7;
}
#header .navi-bar .keyword-wrap .keyword-popup p span.name {
  flex: 1;
}

.main {
  padding-top: 30rem;
}
.main .banner-wrap {
  display: flex;
  justify-content: space-between;
}
.main .banner-wrap .left-banner {
  position: relative;
  display: block;
  width: 76%;
  max-width: 847rem;
}
.main .banner-wrap .left-banner .img-box {
  height: 100%;
  border-radius: 4rem;
  overflow: hidden;
}
.main .banner-wrap .left-banner .img-box img {
  display: block;
  transition: 0.5s;
  height: 100%;
}
.main .banner-wrap .left-banner .img-box img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.main .banner-wrap .left-banner .banner-title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 30rem 30rem;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  pointer-events: none;
}
.main .banner-wrap .left-banner .banner-title h2 {
  overflow: hidden;
  display: -webkit-box;
  font-size: 32rem;
  line-height: 1.3;
  color: #ffffff;
  font-weight: 700;
  word-break: keep-all;
  text-overflow: ellipsis;
  text-shadow: 0 2rem 10rem rgba(63, 71, 77, 0.25);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main .banner-wrap .left-banner .banner-title .user {
  display: flex;
  align-items: center;
  margin-top: 8rem;
}
.main .banner-wrap .left-banner .banner-title .user .thumb {
  width: 24rem;
  height: 24rem;
  margin-right: 4rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #eee;
}
.main .banner-wrap .left-banner .banner-title .user .name {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.main .banner-wrap .main-swiper {
  width: 100%;
  margin: 0 0 0 20rem;
  width: 24%;
  max-width: 269rem;
  border-radius: 4rem;
}
.main .banner-wrap .main-swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.main .banner-wrap .main-swiper .swiper-wrapper .swiper-slide img:hover {
  transform: scale(1.03);
  transition: 0.5s;
}
.main .banner-wrap .main-swiper .swiper-button-next,
.main .banner-wrap .main-swiper .swiper-button-prev {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);
  transition: 0.5s;
}
.main .banner-wrap .main-swiper .swiper-button-next::after,
.main .banner-wrap .main-swiper .swiper-button-prev::after {
  color: #222;
  font-size: calc(var(--swiper-navigation-size) - 25px);
  font-weight: bold;
}
.main .banner-wrap .main-swiper .swiper-button-next.swiper-button-hidden,
.main .banner-wrap .main-swiper .swiper-button-prev.swiper-button-hidden {
  transition: 0.5s;
}

.line {
  display: flex;
}

.img-box img {
  width: 100%;
}

.content {
  margin: 40rem auto;
}
.content .content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20rem 0;
}
.content .content-title .btn-more {
  color: #35c5f0;
  font-weight: bold;
}
.content .item-list .item {
  position: relative;
}
.content .item-list .item .item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.content .item-list.basic-type-list {
  display: grid;
  gap: 20rem;
  grid-template-columns: repeat(4, 1fr);
}
.content .item-list.basic-type-list .item .img-box {
  max-width: 269rem;
  overflow: hidden;
  border-radius: 4rem;
  aspect-ratio: 3/2;
}
.content .item-list.basic-type-list .item .img-box img {
  -o-object-fit: cover;
     object-fit: cover;
}
.content .item-list.basic-type-list .item .text-box {
  margin-top: 10rem;
  min-width: 0;
  font-size: 16rem;
  line-height: 24rem;
  font-weight: 400;
  color: rgb(47, 52, 56);
  word-break: keep-all;
  overflow-wrap: break-word;
}
.content .item-list.basic-type-list .item .text-box .item-title {
  color: #35c5f0;
  font-weight: bold;
}
.content .item-list.basic-type-list .item .text-box .item-text {
  padding-left: 6rem;
}

.todays-deal .item-list .item .img-box {
  border-radius: 4rem;
  overflow: hidden;
  margin-bottom: 10rem;
}
.todays-deal .item-list .item .img-box img {
  display: block;
  width: 100%;
}
.todays-deal .item-list .item .text-box .line {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.todays-deal .item-list .item .text-box .brand {
  display: block;
  color: #828c94;
  font-size: 11rem;
}
.todays-deal .item-list .item .text-box .name {
  display: -webkit-box;
  width: 100%;
  margin-top: 5rem;
  font-size: 13rem;
  font-weight: 400;
  line-height: 17rem;
  max-height: 34rem;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #424242;
  transition: opacity 0.1s;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.todays-deal .item-list .item .text-box .rate,
.todays-deal .item-list .item .text-box .price {
  font-size: 17rem;
  line-height: 23rem;
  font-weight: 700;
}
.todays-deal .item-list .item .text-box .rate {
  color: #35c5f0;
  margin-right: 4rem;
}
.todays-deal .item-list .item .text-box .avg,
.todays-deal .item-list .item .text-box .review {
  font-size: 12rem;
  line-height: 16rem;
  font-weight: 700;
}
.todays-deal .item-list .item .text-box .icon svg {
  width: 12rem;
  height: 12rem;
  margin-right: 3rem;
  color: #35c5f0;
  vertical-align: 1rem;
}
.todays-deal .item-list .item .text-box .avg {
  margin-right: 4rem;
}
.todays-deal .item-list .item .text-box .review {
  color: #9e9e9e;
}

.shortcut-area {
  display: flex;
  justify-content: space-between;
}
.shortcut-area .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 88rem;
}
.shortcut-area .item img {
  width: 100%;
}
.shortcut-area .item .name {
  margin-top: 12rem;
}

#footer {
  padding: 40rem 0;
  background-color: rgb(247, 249, 250);
}
#footer .footer-wrap {
  display: grid;
  -moz-column-gap: 60rem;
       column-gap: 60rem;
  grid-template-columns: 1fr 1fr 2fr;
  font-size: 12rem;
  line-height: 16rem;
  color: #2f3438;
}
#footer .footer-wrap .link {
  font-weight: bold;
  display: inline-block;
}
#footer .footer-wrap .section {
  position: relative;
}
#footer .footer-wrap .section + .section::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30rem;
  width: 1px;
  height: 100%;
  background-color: rgb(234, 237, 239);
}
#footer .footer-wrap .cs-info .cs-center {
  font-size: 18rem;
  margin-bottom: 20rem;
}
#footer .footer-wrap .cs-info .info {
  margin-bottom: 8rem;
}
#footer .footer-wrap .cs-info .info .number {
  font-size: 16rem;
  margin-right: 6rem;
}
#footer .footer-wrap .cs-info .info .open {
  font-size: 14rem;
}
#footer .footer-wrap .cs-info .ask-button-wrap {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
#footer .footer-wrap .cs-info a.button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10rem;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4rem;
  font-size: 14rem;
}
#footer .footer-wrap .menu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, min-content);
  grid-auto-flow: column;
  gap: 20rem 10rem;
}
#footer .footer-wrap .biz-info {
  flex-wrap: wrap;
  gap: 4rem;
  word-break: keep-all;
  font-size: 12rem;
}
#footer .footer-wrap .license-list {
  gap: 16rem;
}
#footer .footer-wrap .license-list .item {
  align-items: center;
  gap: 6rem;
}
#footer .footer-wrap .license-list .item:first-child {
  white-space: nowrap;
}
#footer .footer-wrap .license-list img {
  width: 32rem;
  aspect-ratio: 1/1;
}
#footer .footer-wrap .rest-content {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  color: rgb(130, 140, 148);
  font-size: 10rem;
  line-height: 14rem;
}
#footer .footer-wrap .sns-list {
  gap: 14rem;
}

@media (min-width: 768px) {
  .main .banner-wrap .main-swiper {
    margin: 0 0 0 16rem;
  }
}
@media (min-width: 1024px) {
  .banner-wrap .main-swiper {
    margin: 0 0 0 16rem;
  }
  .todays-deal .item-list .item .text-box .brand {
    font-size: 11rem;
  }
}
@media (max-width: 1255px) {
  #header .header-inner .header-search input {
    width: 130rem;
  }
  #header .header-inner .util a.cs-center {
    display: none;
  }
}
@media (max-width: 1023px) {
  #header .header-inner .header-search {
    display: none;
  }
  .shortcut-area .item {
    max-width: 78rem;
  }
  .shortcut-area .item .name {
    font-size: 12rem;
  }
  .content .item-list.basic-type-list .item .img-box {
    aspect-ratio: 1/1;
  }
  #footer .footer-wrap {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48rem;
  }
  #footer .footer-wrap .section:nth-child(3) {
    grid-column: 1/span 2;
  }
  #footer .footer-wrap .section:nth-child(3)::before {
    content: "";
    position: absolute;
    top: -24rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(234, 237, 239);
  }
}
@media (max-width: 767px) {
  #header .header-inner {
    height: 50rem;
  }
  #header .ham-menu {
    width: 46rem;
  }
  #header .ham-menu img {
    display: inherit;
    width: 28rem;
    height: auto;
    margin-right: 10rem;
  }
  #header .ohouse-logo .logo-image {
    padding: 0 4rem;
  }
  .m-hide {
    display: none !important;
  }
  .m-show {
    display: block;
  }
  .shortcut-area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }
  .content .item-list.basic-type-list {
    display: grid;
    gap: 16rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .content .item-list.basic-type-list .item .img-box {
    max-width: none;
  }
  .default-swiper .swiper {
    margin: 0 -16rem;
    padding: 0 16rem;
  }
  .default-swiper .swiper-button-next,
  .default-swiper .swiper-button-prev {
    display: none;
  }
  .main .banner-wrap .left-banner {
    width: 100%;
  }
  .main .banner-wrap .left-banner .banner-title h2 {
    font-size: 18rem;
  }
  #footer .footer-wrap {
    grid-template-columns: 1fr;
    row-gap: 40rem;
  }
  #footer .footer-wrap .section + .section::before {
    content: "";
    position: absolute;
    top: -20rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(234, 237, 239);
  }
  #footer .footer-wrap .section:nth-child(3) {
    grid-column: 1/span 1;
  }
  #footer .footer-wrap .cs-info .ask-button-wrap {
    flex-direction: row;
  }
  #footer .footer-wrap .menu-list {
    display: flex;
    gap: 12rem;
    flex-wrap: wrap;
  }
  #footer .footer-wrap .menu-list span {
    white-space: nowrap;
  }
}/*# sourceMappingURL=ohouse.css.map */